html,
body {
    height: 100%;
}
#wrapper{
    box-shadow: 0px 0px 15px 0px #D8CDCD;
}
.main-body {
    margin-top: 30px;
    background-color: #EAEAEA;
    box-shadow: -1px 2px 11px -1px #8c8c8c;
    border-radius: 2px;
    border-top: none;
    min-height: 550px;
}
#reg_content{
    margin-top: 30px;
}
#navbar_block{
    border-radius: 2px;
    box-shadow: -1px 2px 11px -1px #8c8c8c;
}
.footer {
    height: 60px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}
.error_filds {
    color: #990000;
    font-family: Arial;
    font-size: 14px;
}
.prods-list .panel-body {
    height: 300px;
    padding-top: 40px;
    color:#1769A5;
    font: 14px bold Helvetica, Arial, sans-serif;
}
.prods-list .panel-body .prod-a:hover{
    text-decoration: none;
    color:#329CA2;
    text-shadow: 1px 1px 2px #4465C1, 0 0 1em #E8E8E8;
}
.prods-list .row{
    margin-top: 15px;
}

.prods-list .panel{
    border-radius: 4px;
}
.prod-hr {
    border-top: 1px dotted #000000 !important;
    margin-bottom:5px !important;
    margin-top:5px !important;
}
.prods-list .panel img{
    border-radius: 4px;
}
.prod-img {
    width: 100%;
    height: 100%;
}
.form-pan-group {
    min-height: 550px;
}
.form-pan-group .panel-body {
    height: 100%;
}
#add_product_box,#loginbox {
    margin-top:50px;
}
#add_product_box .prod-pan {
    padding: 20px;
    border-radius: 4px;
    box-shadow: -2px -3px 9px -1px #93E0E0;
}
#nav_ul li a:hover,#nav_sub_ul li a:hover{
    background-image: linear-gradient(to bottom,#0DD7E2 0,#78B7CA 100%);
    border-radius: 2px;
}
#nav_ul li a:active{
    border-radius: 2px;
}

#prod_ol{
   list-style-type: none;
}
#prod_ol li{
    background-color: #EFEFEF;
    border-radius: 3px;
    border: 1px solid #CDDDE4;
    padding-left: 8px;
    margin-bottom: 3px;
    width: 90%;
}
#prod_ol a{
    margin: 1px;
}
.nav-right-menu a:hover{
    text-decoration: none;
    text-shadow: 2px 3px 2px #515558, 0 0 1em #E8E8E8;
}
.nav-right-menu a:hover{
    text-decoration: none;
}
.divider-vertical{
    height: 50px;
    padding-right: 10px;
    border-left: 1px solid #BABFCC;
}
.prod_view_block{
    border:1px solid #D0DDE2;
    border-radius: 4px;
}
.price-shadow{
    text-shadow: 2px 3px 2px #515558, 0 0 1em #E8E8E8;
}
.prod-field-nam{
    font-weight: bold;
}
